<h2 id="title">Resize Sensor</h2>

{{#resizeable-widget resize="resize"}}
  {{#resize-sensor onResize="resize"}}
    <h3 class="ui-widget-header">Size: {{size}}</h3>
  {{/resize-sensor}}
{{/resizeable-widget}}

{{outlet}}
